<div class="row">
    {% for row in rows %}
        <div class="col-md-6 col-sm-12 col-xs-12">
            <a href="#" class="{% if loop.index==4 %} special {% endif %}">
                <h3>{{ row.content['#view'].style_plugin.render_tokens[loop.index0]['{{ title }}'] }}</h3>
                <small>{{ row.content['#view'].style_plugin.render_tokens[loop.index0]['{{ created }}'] }}</small>
            </a>
        </div>
    {% endfor %}
</div>
               