<div class="big-inj">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{ content.field_section_title|raw }}
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">

                {{ content.field_description|raw }}
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                {{ content.field_text_|raw }}

            </div>
        </div>
    </div>
</div>
