<div class="post-in">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1>{{node.getTitle()}}</h1>
        <h4>2015</h4>
        {{ content.body }}
      </div>
      <div class="col-md-2"></div>
    </div>
		{{ content.field_sections_news }}
  </div>
</div>