<div class="hm-pro reach1">
  <div class="container">
    <div class="row">
      
      <div class="col-md-5 col-sm-12 col-xs-12">
        <h2>{{ content.field_title }}</h2>
        {{content.field_description}}
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12 no-pad">
			<div class="form">
			<div class="col-md-12"><h5>Get in touch</h5></div>
			{{ drupal_block('contact_block', wrapper=false) }}
			</div>

      </div>
    </div>
  </div>
</div>