{% set img = file_url(paragraph.field_image.entity.fileuri) %}

   <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 col-sm-12 col-xs-12">
    <h3>{{ content.field_subtitle_text }}</h3>

{{ content.field_description }}

    </div>
    <div class="col-md-5 col-sm-12 col-xs-12">
        <img src="{{ img }}" alt="news-in-2">
    </div>
    <div class="col-md-1"></div>
</div>
