<div class="hm-who">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="title">{{ content.field_title }}</h3>
                <h1>{{ content.field_subtitle }}</h1>
            </div>
        </div>
        <div id="myCarouseltwo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {{ content.field_icon_slider }}
            </div>
             <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarouseltwo" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                 
                </a>
                <a class="right carousel-control" href="#myCarouseltwo" data-slide="next">
                 <i class="fa fa-angle-right"></i>
               
                </a>
        </div>
    </div>
</div>