{% set img = file_url(paragraph.field_image_events.entity.fileuri) %}

<div class="row text-center">
    <div class="col-md-12" id="postimg">
        <img src="{{ img }}" alt="news-in">
    </div>
</div>
