{% set img = file_url(paragraph.field_image.entity.fileuri) %}

<div class="item {% if paragraph.index == 1 %} active {% endif %}">   
        <img src="{{ img }}" alt="news-in-slide" style="width:100%;">
    </div>
