{% set img = file_url(paragraph.field_image.entity.fileuri) %}
<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
        <img src="{{ img }}" alt="suport2">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="reachbox">
            <h1>{{ content.field_body.value }}</h1>
            {{ content.field_description.value}}
            <a class="btn-gen" href="{{ content.field_link.vlaue }}">REACH US USING THE DETAILS BELOW <span><i class="fa fa-angle-right"></i></span></a>
        </div>
    </div>
</div>
