@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');


*{
	padding: 0px;
	margin: 0px;
}
html{
    margin-top: -10px;
}
body{
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden; 
}
p{
    font-size: 16px;
}
.container > .navbar-header{
    margin-top: 50px;
}
.menu-area ul.nav a:hover{
    border-bottom:solid 1px #e9412d;
}
.menu-area ul.nav li.desctop a:hover{
    border-bottom:none;
}
.menu-area {
    background-color: #0f283d;
    float: left;
    width: 100%;
    
}
footer ul.footer-links li a:hover{
    text-decoration: none;
}

.automo.lens-sec1 .slider-area-main {
    padding-bottom: 0px;
}
.menu-area nav.navbar{
padding: 19px 0px 0px 0px;	
}

a.navbar-brand {
    padding: 14px 0px;
}

ul.nav li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 14px;
}

li.dropdown.language-selector.open li {
    padding: 0px;
    width: 100%;
}

li.dropdown.language-selector.open li a {
    color: #000;
}

ul.nav li a:hover{
	background-color: transparent;
	color: #e9412d;
}

ul.nav li a:focus{
	background-color: transparent;
	color: #e9412d;
}

.top-bar{
    border-bottom: 1px solid #3f5263;
    width: 80%;
    float: right;
}

.top-bar li {
    display: inline-block;
    padding-left: 20px;
}

.top-bar li a{
   color:#fff;
}


.slider-area-main {
    background-color: #0f283d;
    float: left;
    width: 100%;
    padding-bottom: 20px;
}

.slider-area-main .carousel-caption {
    position: inherit;
    right: 0;
    left: 0;
    text-align: left;
    height: 223px;
}

.slider-area-main .carousel-caption h3 {
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.44px;
    padding-bottom: 10px;
}
.btn-gen {
    padding-bottom: 5px;
    font-weight: 500;
    display: inline-block;
    border-bottom: #e9412d 2px solid;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
}

.btn-gen:hover {
	text-decoration: none;
}

.slider-area-main .btn-gen {
    color: #fff;
    font-weight: 200;
}

.btn-gen span {
    position: relative;
    right: -12px;
    top: 4px;
}
.btn-gen span i {
    font-size: 21px;
    color: #e9412d;
    font-weight: 700;
}
.carousel-control.left {
    background-image: linear-gradient(to right, rgb(0 0 0 / 0%) 0%, rgba(0, 0, 0, .0001) 100%);
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgb(0 0 0 / 0%) 0%, rgba(0, 0, 0, .0001) 100%);
}
.slider-area-main .carousel-control{
	opacity: 1;
	top: inherit;
	    bottom: 40px;
}

.slider-area-main a.left.carousel-control {
    right: 100px;
    left: inherit;
    width: 3%;
}

.slider-area-main a.right.carousel-control {
    width: 3%;
        right: 25px;
}

.map-area a.btn-gen {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
}

.map-area a span i {
    font-size: 21px;
    color: #e9412d;
}

.map-area h3 {
  color: #0B2434;
  font-family: Ubuntu;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 46px;
}

.map-area h4 {
        color: #0B2434;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 34px;
    padding-top: 26px;
}

.map-area {
    margin-top: 60px;
    float: left;
    width: 100%;
    margin-bottom: 60px;
}

.map-area img {
    max-width: 100%;
}

.map-area .col-md-4.col-sm-12.col-xs-12 {
    padding-top: 100px;
    width: 36%;
}

.map-area .col-md-8.col-sm-12.col-xs-12 {
    width: 64%;
}

.map-area p {
     padding-bottom: 20px;
    color: #303133;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 29px;
}

.hm-who{
	float: left;
	width: 100%;
	background-color: #f1f1f3;
	    padding: 70px 0px 80px;
	    margin-top: 40px;
}

.hm-who .carousel-control {
	width: 0px;
	color: #e8412d;
	opacity: 1;
    text-shadow: none !important;
}

.hm-who .carousel-control i{
    font-size: 50px;
}
.hm-who .carousel-control.left{
    margin-left: -50px;
}
.hm-who .carousel-control.right{
    margin-right: -50px;
}
.hm-who p + div {
    font-size: 22px;
    font-weight: 100;
    color:#0F283D;
}

.hm-who .item h3 {
    font-size: 24px;
}
#myCarouseltwo img{
    width: 75px;
    height: 75px;
}

.hm-who h3 {
  color: #0F283D;
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 32px;
  text-align: center;
}
.hm-who h3.title{
    color:#5A616C;
}
.hm-who .carousel-inner h3>div:after{
    content:".";
    color: #e8412d;
    font-size: 34px;
}
.hm-who .item h3 span {
    color: #e8412d;
    font-size: 34px;
}

.hm-who h1 {
    padding: 34px 0px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 46px;
    text-align: center;
    margin-top: 0px;
}

.hm-pro {
    float: left;
    width: 100%;
    padding: 100px 0px 0px 0px;
    position: relative;
}

.hm-pro:before {
    content: "";
    position: absolute;
    height: 243px;
    width: 2px;
    background-color: #E8412D;
    top: -150px;
    left: 38px;
    transform: rotate(-39deg);
}

.hm-pro:after {
    content: "";
    position: absolute;
    height: 167px;
    width: 2px;
    background-color: #E8412D;
    bottom: -28px;
    right: 63px;
    transform: rotate(49deg);
}



.hm-pro img{
	max-width: 100%;
}

.pro-box {
    background-color: #0f283d;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 24px;
        padding-bottom: 20px;
        transition: all 0.3s ease-in-out;
        height: 258px;
}
/*
.pro-box:hover {
    background-color: #caced0;
}

.pro-box:hover h3{
    color: #0f283d;
}

.pro-box:hover p{
    color: #0f283d;
}*/

.pro-box h3 {
    color: #fff;
    font-weight: 700;
    font-size: 28px;
        padding-left: 20px;
}

.pro-box p {
    padding-left: 20px;
    color: #ffffff;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;
}

.pro-box h3 span {
    color: #e9412d;
    margin: 0px 3px;
    position: relative;
    top: -6px;
}

.pro-box.grey {
    background-color: #caced0;
}

.pro-box.grey h3 {
    color: #0f283d;
}

.pro-box.grey p {
    color: #0f283d;
}

.hm-pro h3 {
   color: #fff;
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 32px;
}

.slider-area-main .carousel-indicators li {
    font-size: 24px;
     font-family: Ubuntu;
  font-size: 24px;
  font-weight: 500;
    color: #fff;
    display: none;
}

.slider-area-main .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
    display: block;
    font-size: 20px !important;
    color: #fff !important;
    height: auto;
    width: auto;
    background-color: transparent;
border:0px;
}

.slider-area-main .carousel-indicators {
    position: absolute;
    bottom: 32px !important;
    left: 34%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: 0;
    text-align: right;
    list-style: none;
}

.hm-pro .col-md-4 h3 {
   color: #5A616C;
}

.hm-pro h2 {
   color: #0B2434;
  font-family: Ubuntu;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 46px;
}

.hm-pro h5 {
  color: #0B2434;
  font-family: Ubuntu;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 34px;
  padding-top: 24px;
}

.hm-pro .col-md-4.col-sm-12.col-xs-12 {
    padding: 100px 0px;
}

.hm-pro .btn-gen {
    margin-top: 27px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
}

.post-box ul li{
	list-style: none;
	font-size: 12px;
    color:#0F283D;
}

.post-box ul li:first-child {
    float: left;
}

.post-box ul li:last-child {
    float: right;
}

.hm-post {
    float: left;
    width: 100%;
    background-color: #eee;
    padding: 109px 0px 50px 0px;
}

.hm-post h2 {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 46px;
    padding-bottom: 15px;
}
.hm-post2 h2 {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 46px;
    padding-bottom: 15px;
}
.hm-post img {
   max-width:100%;
}

.post-box {
    background-color: #fff;
    float: left;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    min-height: 400px;
    transition: all 0.3s ease-in-out;
    position: relative;
}
.row.latest-news small{
    color:#0F283D;
}
.post-box:hover {
    
        box-shadow: 0px 0px 5px #00000063;
}
.post-box a{
    color: #0B2434;
    font-size:24px;
}

.post-box a:hover{
    text-decoration: none;
}

.post-box ul li i {
    padding-right: 6px;
}

.post-box.big{
	background-color: #fff;
}

.post-box h3 {
    padding: 10px 26px;
    font-size: 22px;
    color: #000;
}

.post-box p {
        padding: 0px 26px 0px 26px;
    color: #000;
}

.post-box ul {
    padding: 0px 27px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.post-box.small{
    background-color: #CACED0;
}
.post-box.small ul{
    width: 94%;
}

.tab-content .row {
    clear: both;
}
.tab-content a.special{
    background: #caced0;
} 
.tab-content a {
    display: block;
    background-color: #fff;
    padding: 17px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    color: #000;
    transition: all 0.3s ease-in-out;
}
.tab-content a span{
    float: right;
    display: none;
    font-size: 30px;
}
.tab-content a:hover span{
    display: block;
}
.tab-content a:hover {
    box-shadow: 0px 0px 5px #00000063;
    text-decoration: none;
   
}

.tab-content a span {
    color: #e9412d;
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    padding-right: 12px;
}

.tabs-content-boxes h1 span {
    color: #e9412d;
}

.tab-content a h3 {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
}


.hm-post .nav-tabs > li {
    margin-bottom: -1px;
    float: none;
    display: inline-block;
}

.hm-post ul.nav.nav-tabs {
    text-align: right;
    border: 0px;
}

.hm-post .nav-tabs > li a {
    background-color: transparent;
    border: 0px;
color:#000;
}
.hm-post .nav-tabs > li.active > a {
    color: #e9412d;
}

.hm-post .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background-color: transparent;
	color: #e9412d;
	border:0px;
}
.hm-post {
    padding-top: 50px;
    padding-bottom: 100px;
}

.signup {
    background-color: #0f283d;
    float: left;
    width: 100%;
    padding: 50px 0px;
    position: relative;
}

.signup:before {
    content: "";
    position: absolute;
    height: 105px;
    width: 2px;
    background-color: #E8412D;
    top: 0px;
    left: 30px;
    transform: rotate(-39deg);
}

.signup:after {
    content: "";
    position: absolute;
    height: 86px;
    width: 2px;
    background-color: #E8412D;
    bottom: -19px;
    right: 38px;
    transform: rotate(123deg);
}

.signup h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 400;
}

.signup h3 {
    color: #fff;
    font-weight: 200;
    margin-bottom: 22px;
}

.signup input[type="email"] {
    border: 0px;
    width: 80%;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    padding-bottom: 6px;
}

.signup button {
    background-color: transparent;
    border: 0px;
    border-bottom: #e9412d 1px solid;
    color: #fff;
    margin-left: 16px;
}

.before-footer .container-fluid {
    padding-left: 0px;
}

.before-footer img {
    max-width: 100%;
}

.before-footer {
    float: left;
    width: 100%;
}

.before-footer h2 {
     padding: 25px 0px 25px; 
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 46px;
}

.before-footer ul li {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 34px;
    list-style: none;
}
.before-footer ul li a {
    color: #e9412d;
}
.before-footer ul li a:hover {
   text-decoration:none;
}

.before-footer ul {
    padding: 64px 0px;
    margin-bottom: 0;
}
footer {
    float: left;
    width: 100%;
    background-color: #0f283d;
    padding-top: 50px;
    position: relative;
}

footer ul.footer-links li {
    float: left;
    width: 50%;
}

footer ul.footer-links li a {
    color: #fff;
    padding-bottom: 10px;
    display: block;
}

ul.social-footer li {
    float: left;
    width: 50%;
    list-style: none;
}

ul.social-footer li a {
    display: inline-block;
    background-color: #fff;
    height: 26px;
    width: 26px;
    text-align: center;
    line-height: 26px;
    color: #0f283d;
    margin-bottom: 12px;
    border-radius: 6px;
}

.copyright {
    float: left;
    width: 100%;
    border-top: 1px solid #ffffff38;
    margin-top: 12px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.copyright ul {
    text-align: right;
    list-style: none;
}

.copyright ul li {
    display: inline-block;
    padding-left: 4px;
    color: #e9412d;
}

.copyright ul li a {
    color: #fff;
font-size: 14px;
}

.copyright p {
    color: #fff;
}


footer:before {
    content: "";
    position: absolute;
    height: 154px;
    width: 2px;
    background-color: #E8412D;
    top: -25px;
    left: 38px;
    transform: rotate(-39deg);
}

footer:after {
    content: "";
    position: absolute;
    height: 119px;
    width: 2px;
    background-color: #E8412D;
    bottom: 2px;
    right: 46px;
    transform: rotate(49deg);
}

.pro-box h3 {
    font-weight: 700;
    font-size: 24px;
}

.hm-pro .col-md-4.col-sm-12.col-xs-12 p {
    color: #586267;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 29px;
}

li.mob{
	display: none;
}


.model-hm .posit {
    position: fixed;
    top: 50%;
    right: -21px;
    transform: rotate(-90deg);
    background-color: #586267;
    border-color: #586267;
}

.model-hm .modal-body form label {
    float: left;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
}

.model-hm .modal-body form label input {
    float: left;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #eee;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
}

.model-hm button.btn-gen {
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #e9412d;
    margin-bottom: 20px;
}

.model-hm .modal-content {
    padding: 14px;
}

.model-hm .modal-body form label select {
    float: left;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #eee;
    height: 30px;
    margin-bottom: 20px;
}

.model-hm .modal-body form label textarea {
    height: 110px;
    float: left;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.model-hm input[type="checkbox"] {
    margin-right: 13px;
    float: none;
    width: auto !important;
    height: inherit !important;
}

.model-hm .modal-body {
    padding: 0px;
}

.model-hm .modal-header {
    border-bottom: 0px;
    margin-bottom: 30px;
}

.model-hm .modal-title {
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
}

.model-hm .modal-header .close span {
    color: red;
    font-size: 33px;
}

.model-hm .modal-header .close {
    margin-top: -2px;
}

.model-hm .modal-footer {
    padding: 0px;
    text-align: right;
    border-top: 0px;
}

.model-hm .modal-dialog {
    width: 750px;
    margin: 30px auto;
}

.close {
    opacity: 1;
}

.model-hm .col-md-12 {
    width: 100%;
    float: left;
}

#upbtn {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#upbtn.show {
    opacity: 1;
    visibility: visible;
}
#upbtn.show {
    opacity: 1;
    visibility: visible;
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 91%);
    
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
      position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
    padding: 10px 30px;
    font-size: 15px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
	background-color: #e9412d;
	border-color: #e9412d;
	opacity: 1;
	padding: 10px 17px;
	font-size: 27px;
}

.menu-area ul.nav a {
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    border-bottom: solid 1px transparent;
}

.tiltle-bar {
    padding: 50px 0px;
    float: left;
    width: 100%;
    background-color: #0f283d;
position: relative;
}

.tiltle-bar h2 {
    color: #fff;
    font-weight: 400;
    font-size: 32px;
    margin-top: 0px;
}

.tiltle-bar:before {
   content: "";
    position: absolute;
    height: 158px;
    width: 2px;
    background-color: #E8412D;
    top: -50px;
    left: 38px;
    transform: rotate(-39deg);
}

.tiltle-bar:after {
    content: "";
    position: absolute;
    height: 167px;
    width: 2px;
    background-color: #E8412D;
    bottom: 50px;
    right: 63px;
    transform: rotate(49deg);
}

.sol-section1 {
    padding: 50px 0px;
    float: left;
    width: 100%;
}

.sol-section1 h3 {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 46px;
    padding-bottom: 30px;
padding-top: 50px;
}

.sol-section1 p {
    padding-bottom: 20px;
    color: #586267;
  font-family: Ubuntu;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 29px;
}

.sol-section2 {
    float: left;
    width: 100%;
    background-color: #f1f1f3;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
}

.sol-section2 h2:first-child {
    margin-top: 0px;
    padding-bottom: 30px;
    color: #0B2434;
  font-family: Ubuntu;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 46px;
}

.sol-section2 p {
    color: #0F283D;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
}

.sol-section2 p {
    font-size: 20px;
}

.sol-sectio4 p {
    padding-right: 50px;
    padding-bottom: 14px;
    color: #586267;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 29px;
    margin-bottom: 0px;
}

.sol-sectio4 h2 {
    padding-bottom: 20px;
    padding-bottom: 20px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
}

.sol-sectio4 {
    float: left;
    width: 100%;
}

.sol-sectio4 .container-fluid {
    padding-left: 0px;
}

.sol-sectio5 {
    padding: 50px 0px;
    float: left;
    width: 100%;
    background-color: #0f283d;
position: relative;
margin: 50px 0px;
}

.sol-sectio5 h1 {
    color: #FFFFFF;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 46px;
}

.sol-sectio5:before {
    content: "";
    position: absolute;
    height: 243px;
    width: 2px;
    background-color: #E8412D;
    top: -25px;
    left: 38px;
    transform: rotate(-39deg);
}

.sol-sectio5:after {
    content: "";
    position: absolute;
    height: 167px;
    width: 2px;
    background-color: #E8412D;
    bottom: -28px;
    right: 63px;
    transform: rotate(49deg);
}

.sol-sectio6 {
  width: 100%;
    float: left;
    padding: 50px 0px 100px 0px;
}

.sol-sectio6 img {
    width: 100%;
}

.pos-des {
    background-color: #f1f1f3;
}

.pos-des img {
    width: 44px;
}

.pos-des ul {
    list-style: none;
}

.pos-des ul li {
    display: inline-block;
    padding-right: 10px;
    color: #0F283D;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 29px;
}


.pos-des ul {
    list-style: none;
    padding: 14px 0px;
}

.pos-des {
    background-color: #f1f1f3;
    padding: 20px 40px;
    min-height: 306px;
    border-radius: 8px;
}

.pos-des p {
    color: #586267;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
}

.pos-des h3 {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 34px;
}



.pos-des:first-child:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50px;
    background-color: #f1f1f3;
    bottom: 0;
   left: -31px;
    z-index: -1;
}

.style-two.second {
    float: left;
    width: 100%;
    margin-top: 30px;
}

.sol-sectio6 h1 {
    padding-bottom: 24px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 46px;
}

.sol-sectio3 {
    float: left;
    width: 100%;
    position: relative;
}

.timeline ol li:nth-child(even)::before {
    content: "";
    position: absolute;
    height: 33px;
    width: 2px;
    background-color: #e9412d;
    transform: rotate(30deg);
    top: -28px;
}

.timeline ol li:nth-child(odd)::before {
    content: "";
    position: absolute;
    height: 33px;
    width: 2px;
     background-color: #e9412d;
    transform: rotate(-30deg);
    bottom: -28px;
}

.timeline ol li:nth-child(odd) div {
    height: 300px !important;
}

.timeline ol li:nth-child(even) div {
    padding-top: 30px;
     height: 300px !important;
}

.down time{
    padding-top: 61px;
}

button.arrow.arrow__prev.disabled {
    background-color: transparent;
    border: 0px;
    font-size: 43px;
    color: #e9412d;
}

button.arrow.arrow__next {
    background-color: transparent;
    border: 0px;
    font-size: 43px;
    color: #e9412d;
}

.timeline .arrows .arrow__prev{
      background-color: transparent;
    border: 0px;
    font-size: 43px;
    color: #e9412d;
}
button.arrow.arrow__next:focus {
    outline: none;
}

.phil-box {
    text-align: center;
    background-color: #f1f1f3;
    padding: 30px 20px;
    min-height: 270px;
    margin-bottom: 35px;
    border-radius: 10px;
}

.phil-box h3 {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 34px;
}

.phil-box p {
    color: #0F283D;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;
}

.phi-section2 {
    float: left;
    width: 100%;
padding-top: 50px;
}

.phi-section2 h2 {
       padding-bottom: 32px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 46px;
}

.sol-sectio5.phil-sec {
    margin-bottom: 0px;
}

.ph-img {
    float: left;
    width: 100%;
    background-color: #f1f1f3;
    text-align: center;
    padding-bottom: 50px;
}

.ph-img p {
       padding: 6px 153px;
    color: #5A616C;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
}

.ph-img img {
    padding-bottom: 50px;
}


.philo-sec p {
    padding-right: 100px;
    padding: 10px 100px 20px 0px;
    color: #5A616C;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
}

.hm-pro.philo-sec h3 {
    color: #5A616C;
}

.philo-sec h3 {
    padding-top: 50px;
}

.hm-pro.philo-sec {
    padding: 70px 0px;
}

.hm-pro.philo-sec:before {
    display:none;
}

.hm-pro.philo-sec:after {
    display:none;
}

.hm-pro.sus-sec:before {
    display:none;
}

.hm-pro.sus-sec:after {
    display:none;
}

.hm-pro.sus-sec {
    padding: 70px 0px;
}

.sol-sectio5.sus-sec i.fa.fa-quote-left {
    color: red;
    font-size: 70px;
    margin-bottom: 30px;
}

.sus-boxes {
    float: left;
    width: 100%;
    padding-bottom: 50px;

}
.sus-boxes h2 {
    text-align: center;
    padding-bottom: 40px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 46px;
}

.sus-boxes .pro-box h3 {
    padding-left: 20px;
    text-align: left;
}

.sus-boxes .pro-box p {
    padding-left: 20px;
    text-align: left;
}

.sus-boxes p {
    font-size: 11px;
}

.sus-boxes img {
    padding-top: 15px;
}

.sus-boxes .pro-box {
    text-align: center;
}
.sus-boxes .pro-box{
padding-left:0px;
}

.world-sec1 {
    float: left;
    width: 100%;
    text-align: center;
background-color: #f1f1f3;
}

.world-sec1 img {
    width: 100%;
}
.world-sec3 {
    float: left;
    width: 100%;
}

.world-sec3 img {
    width: 100%;
}

.location-area {
    float: left;
    width: 100%;
}

.location-area h1 {
    margin-bottom: 25px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0;
}

.address-box {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    min-height: 280px;
}

.address-box h1 {
    margin-top: 0px;
    color: #0F283D;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
}

.address-box h3 {
    color: #0F283D;
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
}

.second-loaction h1 {
    font-size: 22px;
    margin-bottom: 25px;
    padding-top: 20px;
}
.second-loaction {
    border-top: 1px solid #0f283d;
}

.world-sec4 {
    float: left;
    padding-top: 50px;
    width: 100%;
}
.address-box p {
    color: #757575;
    margin: 0px;
}

.sworld-sec2 {
    float: left;
    width: 100%;
    padding:50px 0px; 
}

.reach1 form label {
    float: left;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
}

.reach1 form label input {
    float: left;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #eee;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
}

.reach1 form label select {
    float: left;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #eee;
    height: 30px;
    margin-bottom: 20px;
}

.reach1 form label textarea {
    height: 110px;
    float: left;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
    margin-bottom: 20px;
}

.reach1 form label {
    float: left;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
}

.reach1 form label input {
    float: left;
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #eee;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
}

.reach1 button.btn-gen {
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #e9412d;
    margin-bottom: 20px;
}

.reach1 input[type="checkbox"] {
    margin-right: 13px;
    float: none;
    width: auto !important;
    height: inherit !important;
}

.hm-pro.reach1 form {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
}

.hm-pro.reach1 {
    background-color: #eee;
padding:50px 0px;
}

.hm-pro.reach1:before{
display:none;
}

.hm-pro.reach1:after{
display:none;
}

.hm-pro.reach2 {
    padding: 50px 0px;
}

.hm-pro.reach2:before{
display:none;
}

.hm-pro.reach2:after{
display:none;
}

.hm-pro.reach2 ul li {
    list-style: none;
    background-color: #eee;
    padding: 16px 20px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.hm-pro.reach2 ul li h2 {
    padding: 0px;
    margin-top: 0px;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 0;
}

.hm-pro.reach2 ul li p {
    font-size: 13px;
       color: #5A616C;
    font-family: Ubuntu;
    font-size: 14px;
    padding-bottom: 0px;
}

.hm-pro.reach2 ul li small {
        color: #5A616C;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 0px;
}

.hm-pro.join1 {
    padding-bottom: 0px;
}

.hm-pro.join1:before{
display:none;
}

.hm-pro.join1:after{
display:none;
}

.sol-sectio5.join2 {
    padding: 0px;
}

.sol-sectio5.join2:before{
display:none;
}

.sol-sectio5.join2:after{
display:none;
}

.sol-sectio5.join2 p {
    color: #fff;
    font-size: 26px;
    padding: 13px 0px 0px 0px;
}

.sol-sectio5.join2 a.btn-gen {
    float: right;
    margin-right: 100px;
    color: #fff;
}

.sol-sectio5.join2 .container-fluid {
    padding-left: 0px;
}

.sol-sectio5.join2 .container-fluid .col-md-6:nth-child(1n) {
    padding-left: 0px;
}

.automo {
    padding: 50px 0px;
    float: left;
    width: 100%;
}

.au-sec1 .col-md-6:first-child {
    padding: 40px 0px 0px 116px;
}

.automo.au-sec1 p {
    color: #5A616C;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
}

.au-sec1 h2 {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 46px;
        padding-bottom: 20px
}

.au-sec1 h2 span {
    padding-right: 22px;
}

.au-sec2 h1 {
    padding-bottom: 30px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
}

.au-sec2 {
    background-color: #eee;
}

.autoboxes {
    background-color: #fff;
    float: left;
    width: 100%;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.autoboxes img {
    max-width: 100%;
}

.autoboxes h3 {
    padding: 4px 20px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
}

.autoboxes p {
    padding: 4px 20px;
    min-height: 207px;
    color: #586267;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 29px;
}

.au-sec3 ul li p {
    position: absolute;
    left: 0;
    right: 0;
    top: 81px;
    color: #5A616C;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    text-align: center;
}

.au-sec3 ul li {
    position: relative;
    width: 12%;
    display: inline-block;
}

.au-sec3 h3 {
    color: #0B2434;
  font-family: Ubuntu;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 46px;
    padding-bottom: 20px;
}

.autoboxes a.btn-gen {
    float: right;
    margin-right: 50px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
}

.au-sec3 ul {
    float: left;
    width: 100%;
    padding: 0px 0px 40px 0px;
}

.lens-sec1 .carousel-control {
    bottom: -48px;
}
.lens-sec1 .col-md-6:first-child {
    padding: 0px 40px 0px 70px;
}

.lens-sec1 ul {
    margin-left: 17px;
}

.lens-sec1 ul li {
    color: #e9412d;
    font-size: 16px;
}

.automo.lens-sec1 h2 {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 46px;
}

.automo.lens-sec1 p {
    color: #586267;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
}

.lens-sec1 ul li p{
       font-weight: 500 !important;
}

.lens-sec1 ul li p{
    color: #000;
}

.automo.lens-sec1 {
    padding-bottom: 100px;
}

.lensboxes {
    float: left;
    width: 100%;
}

.lensboxes img {
    max-width: 100%;
}

.lensboxes h3 {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
}

.lensboxes ul li {
    list-style: none;
    display: inline-block;
    border-bottom: 2px solid #caced0;
    margin-right: 12px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    padding-bottom: 2px;
}

.lensboxes ul {
    margin: 30px 0px;
}

.btn-gen img {
    padding-right: 10px;
}

.tabs-paro {
    float: left;
    width: 100%;
    padding:50px 0px 20px 0px; 
}

.tabs-paro ul.nav.nav-tabs {
    border: 0px;
}


.tabs-paro ul.nav.nav-tabs a {
    padding: 7px 20px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
    border: 2px solid transparent;
}

.tab-content .lensboxes ul {
    margin: 15px 0px;
}

.tab-content .lensboxes ul li {
      font-weight: 500;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 16px;
}

.tab-content .lensboxes a {
    padding: 0px;
    margin: 0px;
}

.tab-content .lensboxes a:hover {
    box-shadow: none;
}
.tab-content .lensboxes a {
    background-color: transparent;
}
.tabs-paro li.active a{
border-radius: 50px;
    border: 2px solid #000 !important;
    border-bottom: 2px solid #000 !important;
}

.tabs-paro ul.nav.nav-tabs a:hover{
    border-color: #fff !important;
      border: 2px solid #000 !important;
      border-radius: 50px;
      padding: 7px 20px;
}

.grey-bg {
    float: left;
    width: 100%;
    background-color: #ececec;
    padding: 20px 0px 50px 0px;
    margin: 40px 0px;
}


.tabs-content-boxes {
    float: left;
    width: 100%;
    padding-bottom: 50px;
}

.tabs-content-boxes h1 {
    margin: 0px;
    padding: 24px 0px;
    font-size: 27px;
    font-weight: 600;
}

div#menu2 .grey-bg {
    margin: 0px;
}
#filters{
    display: none;
}

.tabs-paro button {
    border: 0px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.tabs-paro button:focus {
outline: none;
}

.tabs-paro button span {
    padding-left: 10px;
    color: red;
}

.tabs-paro button.btn2 {
    float: right;
}

div#filters {
    position: relative;
}

button.btn1 {
    position: absolute;
    right: 14px;
    top: -43px;
    background-color: #fff;
}

div#filters ul li {
    list-style: none;
margin-bottom:10px;
display: inline-block;
}

.tabs-paro h3 {
    color: #0F283D;
    font-family: Ubuntu;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: 300;
    padding: 10px 0px;
}

div#filters ul li a {
    background-color: #eee;
    padding: 10px 20px;
    display: block;
    border-radius: 50px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
}

.automo.au-sec3 {
    padding: 100px 0px;
}

.hm-pro.join1 h2 {
    padding-bottom: 20px;
}

.hm-pro.join1 .container-fluid {
    padding-right: 0px;
}

.hm-pro.join1 .row .col-md-6:first-child {
    padding: 0px 30px 0px 70px;
}

.hm-pro.join1 h3 {
    color: #5A616C;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
}

.hm-pro.join1 p {
    color: #5A616C;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
}

.automo.lens-sec1 .carousel-indicators li {
    font-family: Ubuntu;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
    color: #e9412d;
    display: none;
}

.automo.lens-sec1 .carousel-indicators {
    position: absolute;
    bottom: -57px !important;
    left: 17%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: 0;
    text-align: right;
    list-style: none;
}

.automo.lens-sec1 .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
    display: block;
    font-size: 20px !important;
    color: #e9412d !important;
    height: auto;
    width: auto;
    background-color: transparent;
border:0px;
}

.tabs-content-boxes p {
    color: #5A616C;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 29px;
}

.hm-pro.reach1 p {
    color: #5A616C;
    font-family: Ubuntu;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
    padding: 17px 0px;
}

.hm-pro.reach1 h5 {
    padding-top: 0px;
    padding-bottom: 20px;
}

.hm-pro.reach1 h2 {
    font-size: 34px;
}

.hm-pro.reach2 p {
    color: #5A616C;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 26px;
    padding-bottom: 20px;
}

.hm-pro.sus-sec h3 {
    color: #5A616C;
}

.hm-pro.sus-sec p {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
}

.sworld-sec2 h3 {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 46px;
}

.sworld-sec2 p {
    color: #5A616C;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
    text-align: left;
    padding-top: 10px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #eee0;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #fff;
    text-align: center;
    box-shadow: none;
    border: 0px;
}

.navbar-right .dropdown-menu {
    right: -40px;
}

ul.dropdown-menu li span img {
    width: 36px;
}

.navbar-nav > li > .dropdown-menu a {
    color: #0f283d;
}

li#one ul.dropdown-menu li {
    text-align: left;
}











@media screen and (max-width:768px){

	.navbar-header {
    float: left;
    width: 100%;
}

img{
    max-width: 100%;
}

.copyright ul {
    text-align: center;
}

#search input[type="search"] {
    font-size: 24px;
}

.pro-box p {
    padding: 0px 20px;
}

.model-hm .modal-dialog {
    width: 100%;
    margin: 30px auto;
}

a.navbar-brand {
    float: left;
    width: 100%;
    text-align: center;
}

a.navbar-brand img {
    display: inline-block;
    margin-top: 10px;
}
	.navbar-toggle {
    background-color: #ffffff;
    border: 1px solid #e9412d;
}

.navbar-toggle .icon-bar {
    background-color: #0f283d;
}

.map-area .col-md-4.col-sm-12.col-xs-12 {
    padding-top: 0px;
}

.map-area img {
    max-width: 100%;
}
.hm-pro:before{
	display: none;
}
.hm-pro:after{
	display: none;
}
.hm-pro {
    padding: 50px 0px;
    text-align: center;
}

.hm-pro .col-md-4.col-sm-12.col-xs-12 {
    padding: 0px 15px;
}

.col-md-8.col-sm-12.col-xs-12.no-pad {
    margin-top: 50px;
}
.post-box img {
    width: 100%;
}

.post-box{
	margin-bottom: 30px;
}
.hm-post {
    padding: 50px 15px 50px 15px;
    text-align: center;
}
.hm-post2 ul.nav.nav-tabs {
    text-align: center;
    margin-bottom: 20px;
}

.hm-post2 {
    padding-top: 20px;
}
.signup button.btn-gen {
    margin-top: 20px;
}
.signup {
    text-align: center;
}

.before-footer .container-fluid {
    padding-left: 15px;
}

.before-footer {
    margin-top: 20px;
text-align:center;
}

.before-footer h2 {
    padding: 0px 0px;
}
.before-footer ul {
    padding: 24px 0px;
}
footer {
    text-align: center;
}

footer ul.footer-links li {
    float: left;
    width: 33.33%;
    display: inline-block;
}

ul.social-footer li {
    float: none;
    width: inherit;
    list-style: none;
    display: inline-block;
    padding: 0px 9px;
}

ul.footer-links {
    margin: 30px 0px;
    float: left;
    width: 100%;
}
.top-bar li {
    display: inline-block;
    padding: 11px 8px;
}

.top-bar {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.mob{
	display: block;
}
li.desctop{
	display: none;
}
ul.nav.navbar-nav.navbar-right {
    float: left;
    text-align: center;
    width: 100%;
}
.search-inline {
    height: 36%;
}
.menu-area nav.navbar {
    padding: 13px 0px 0px 0px;
    min-height: auto;
}

a.navbar-brand {
    padding: 5px 10px;
}
}

@media screen and (max-width:767px){
	.navbar-header {
    float: inherit;
    width: inherit;
}

a.navbar-brand {
    float: inherit;
    width: inherit;
    text-align: center;
}

a.navbar-brand img {
    display: inherit;
    margin-top: 10px;
}
.search-inline {
    height: 18%;
}
}



.timeline ol li:nth-child(odd) div {
    height: 290px !important;
}


/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 284px 0 307px 0px;
    transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 6px;
  background: #0f283d;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + -2px);
    bottom: 0;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #e9412d;
    border: 4px solid #fff;
    z-index: 1;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 14px;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  color: #0B2434;
  font-family: Ubuntu;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 46px;
  margin-bottom: 8px;
  display: block;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
    display: flex;
    float: right;
    margin-bottom: 20px;
    margin-right: 100px;
    position: absolute;
    bottom: 0px;
    right: 0;
}
.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}

.timeline ol li:first-child {
    background-color: transparent;
}

.timeline ol li div {
    color: #586267;
    font-family: Ubuntu;
    font-size: 18px !important;
    font-weight: 300;
    letter-spacing: 0;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}

ul.footer-links{
	list-style: none;
}

ul.links.inline li.statistics-counter{
    display: none;
}



ul#right li {
    float: right;
}

.big-inj ul.detial-list li p {
    color: #586267;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 29px;
}

.big-inj h2 {
    border-top: 1px solid #eee;
    margin-top: 0px;
    padding-top: 40px;
    margin-bottom: 24px;
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
}

 a.broucher {   
   background-color: #eee;
    padding: 20px 50px;
      margin-top: 40px;
   display: block;
      color: #0B2434;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;

}

 a.broucher:hover {
text-decoration: none;
  }

a.broucher i{   
  float: right;
  color: #e9412d;
  line-height: 30px;

}

.automo.lens-sec1.br-inj p {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
}

.automo.lens-sec1.br-inj p {
    padding: 10px 0px;
}

.big-inj-2 {
    padding: 50px 0px;
}

.big-inj-2 h3 {
    color: #5A616C;
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
}

.big-inj-2 h2 {
color: #0B2434;
  font-family: Ubuntu;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 46px;
}

.suport-sec1 h1 {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0;
    padding: 20px 0px;
}

.suport-sec1 p {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 28px;
}

.suport-sec1 a {
    color: #0F283D;
    font-family: Ubuntu;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 48px;
    background-image: url(../images/hot-line.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 71px;
    margin-top: 30px;
    display: inline-block;
}

.suport-sec1 a:hover{
    text-decoration: none;
}

.suport-sec1 a small {
    color: #0B2434;
    font-family: Ubuntu;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
    display: block;
    padding-left: 38px;
    padding-top: 10px;
}
.suport-sec1 a.btn-gen {
    background-image: none;
    padding: 0px 0px;
    font-size: inherit;
}
